/*   font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Newsreader', serif;
*/


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color:white;
}

main{
    display: flex
}

/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do menu lateral */

/* *************************************************************************** */
/* *************************************************************************** */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100vh;
    background-color: #33383B;
}

.menu-box{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.menu-box:hover{
    background:linear-gradient(90deg, #1976D2,#303F9F);
    color: #33383B;
    box-shadow: 0 0 15px #33383B;
}

.login{
    height: 250px;
    width: 320px;
    top:20px;
    left: 120px;
    position: absolute; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(51, 56, 59, 0.95);
    border-radius: 25px;

    color: #a5a0a0;
    
    opacity: 0;
    transition: opacity .5s linear;
}

form{
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.question{
    height: 100px;
    width: 320px;
    bottom:20px;
    left: 120px;
    position: absolute; 

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(28, 28, 28, 0.95);
    border-radius: 25px;

    color: #a5a0a0;
    
    opacity: 0;
    transition: opacity .5s linear;
}

input{
    font-size: 15px;
    border-style: none;
    box-shadow: 0 0 5px black;
}

.input-box{
    width: 270px;
    height:55px;
    margin: 10px;
    padding-left: 15px;
    border-radius: 7px;
    font-size: 20px;
    color: #33383B;
}

.submit{
    width: 100px;
    height: 45px;
    margin-top: 15px;
    font-weight: bold;
    border-radius: 10px;
    color: #fff;
    background:linear-gradient(90deg, #1976D2,#303F9F);
    transition: all linear 0.3s;
}

.submit:hover{
    background-color: #a5a0a0;
}

/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do Banner principal - LOGIN */
/* *************************************************************************** */
/* *************************************************************************** */

.principal{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../Imagens/the-abstract-office-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}


.container{
    display: flex;
    height: 100vh;
    width: 640px;
    background-color: rgba(28,28,28, 0.95);
    box-shadow: 0px 0px 55px #1c1c1c;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.div-line{
    background-color: #a5a0a0;
    width: 500px;
    height: 5px;
}

.title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.texto{
    text-align: justify;
    padding:20px;
}

.lista{
    padding-left: 30px;
}

.logo-footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
