/*   font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Newsreader', serif;
*/


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color:white;
    text-decoration: none;
}

main{
    display: flex
}

/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do menu lateral */
/* *************************************************************************** */
/* *************************************************************************** */

.menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100vh;
    background-color: #33383B;
}

.menu-box{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.menu-box:hover:not(.menu-box.home){
    background:linear-gradient(90deg, #1976D2,#303F9F);
    color: #33383B;
    box-shadow: 0 0 15px #33383B;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F575B;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    cursor: pointer;
}

.home-img:hover{
    background:linear-gradient(90deg, #1976D2,#303F9F);
}


.divisoria{
    width: 280px;
    height: 3px;
    background-color: #707070;
    margin: 5px;
}


/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do banner principal */
/* *************************************************************************** */
/* *************************************************************************** */

.principal{
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #282C2E;
}

.filler{
    width: 100px;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    padding:30px;
    height:100vh;
    width: 1000px;
}

.container h1{
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.container h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-box{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.formulario{
    display: flex;
    flex-direction: column;
}

.formulario input, .formulario select{
    width: 400px;
    height: 40px;
    font-size: 20px;
    color: #282C2E;
    padding: 5px;
}

option{
    color: #282C2E;
}

.submit-box{
    display: flex;
    height: 60px;
    align-items: flex-end;
}

.submit-box input{
    height: 50px;
    width: 400px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}

.submit-box #confirma{
    background-color: #20F808;
    border-style: none;
}

.submit-box #cancela{
    background-color: #FF3D00;
    margin-left: 135px;
    border-style: none;
}

.info-senha{
    position: absolute;
    background-color: #33383B;
    display: flex;
    padding: 10px;
    width: 400px;
    height: 75px;
    right:15px;
    top: 150px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 15px #333;
}

