/*   font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Newsreader', serif;
*/


*{
    font-family: 'Montserrat', sans-serif;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color:white;
    text-decoration: none;
}

main{
    display: flex
}

/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do menu lateral */
/* *************************************************************************** */
/* *************************************************************************** */

.menu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    height: 100%;
    background-color: #33383B;
}

.menu-box{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 30px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.menu-box:hover:not(.menu-box.home){
    background:linear-gradient(90deg, #1976D2,#303F9F);
    color: #33383B;
    box-shadow: 0 0 15px #33383B;
}

.home-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4F575B;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    cursor: pointer;
}

.home-img:hover{
    background:linear-gradient(90deg, #1976D2,#303F9F);
}


.lower, .upper{
    flex-direction: column;
    flex: 1;
    display: flex;
}

.lower{
    justify-content: flex-end;

}

.upper{
    justify-content: flex-start;
}

.profile-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 120px;
    bottom: 50px;
    width: 310px;
    height: 210px;
    background-color: #33383B;
    border-radius: 10px;
    padding: 15px;
    left:-310px;
    transition: all linear 0.3s;
}

.profile-box-img{
    border-radius: 30px;
    height:60px;
    box-shadow: 0 0 8px #222;
}

.profile-box h1{
    font-size: 18px;
    margin: 5px;
}

.profile-box h2{
    font-size: 15px;
    font-weight: lighter;
    margin: 5px;
}

.divisoria{
    width: 280px;
    height: 3px;
    background-color: #707070;
    margin: 5px;
}

.profile-box-data{
    font-weight: bold;
    display: flex;
    margin: 10px;
}



/* *************************************************************************** */
/* *************************************************************************** */
/* Estilização do banner principal */
/* *************************************************************************** */
/* *************************************************************************** */

.principal{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #282C2E;
}

.filler{
    width: 100px;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    padding:30px;
    height:100%;
    width: 800px;
}

.container h1{
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.container h2{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 15px;
}

.func{
    display: flex;
    align-items: center;
    height: 300px;
}

.func-box{
    width: 200px;
    height: 200px;
    background:linear-gradient(270deg, #26C6DA,#0288D1);
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 15px #222;
    transition: all linear 0.3s;
}

.func-box h2{
    font-size: 20px;
}

.func-box:hover{
    border: 5px solid #EEE;
}